

h1 {
    text-align: center;
    display: block;
    font-size: 2em;
    font-weight: bold;
    align-self: center;
}
#title {
    display: flex;
    font-family: lacto;

    flex-direction: row;
    height: 50px;
    font-size: 12px;
    position: relative;
    padding: 10px 0 15px 0;
    background-color: black;
    color: #f4f4f4;
}




body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.png);
    background-size: 400px;
    background-position: left;
    
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 100px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

button	{
	
	top:50%;
	align-self: center;
	width: 20em;  height: 3em;
    text-align: center;

}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 300px;
    padding: 100px;
    color: #000000;
}
.player-name{
    color: #000000;
    font-size: 30px;
}


.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #000000;
    margin-bottom: 130px;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}